/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.cloudOne {
  position: absolute;
  right: 300px;
  top: 50px;
}
.cloudTwo {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.mountain {
  display: inline-block;
}

.first-container {

  background-color: #eaf6f6;
  text-align: center;
}

hr {
  border-top: 5px dotted #eaf6f6;
  width: 5%;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  margin: 80px auto;
}
.nameTitle {
  margin: auto;
  margin-top: 0.5em;
  width: 100%;
  font-kerning: auto;
  font-size: 3.5rem;
  color: #322f3d;
}

#subtitleStyle {
  text-decoration-line: underline;
}

.profilepicture {
  width: 150px;
  height: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50%;
  
}

.code {
  display: flex;
  width: 35%;
  /* float: left; */
  margin-right: 30px;
}

.webdesign {
  display: flex;
  width: 35%;
  /* float: right; */
  margin-right: 30px;
}

.navbar-light{
  background-color: #eaf6f6;
}
.navbar .navbar-toggler{
  border:0px solid red;
}
h3 {
  font-size: 1.5rem;
  position: relative;
  color: #4f8a8b;
}
h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 2rem;
  color: #66bfbf;
  line-height: 0.8;
}
h1 {
  padding-top: 50px;
  margin-bottom: 0;
  display: block;
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  font-family: 'Leckerli One', cursive;
  color: #322f3d;
}
body {
  margin: 0em;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  text-align: center;
}
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #40514e;
}
{
  font-family: "Open Sans";
  color: #4f8a8b;
}

.profiletext {
  width: 30%;
  margin: auto;
}
.middlecontainer {
  text-align: center;
}
.profile {
  padding-top: 30px;
}

.bottom-container {
  /* width: 100vw;
  background-color: #fbd46d;
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: lighter; */
}
a {
  color: #14b1ab;
  font-weight: 600;
}

.contact-me {
  padding: 30px auto;
  width: 35%;
  margin: auto;
  margin-bottom: 50px;
}

.footer-link {
  font-weight: 600;
}
.aprogrammer {

}
.skill-row {
  width: 50%;
  position: relative;
  margin: 100px auto;
  text-align: left;
  line-height: 1.5;
}

@media(max-width: 900px) {
  body{
    font-family: 'Inter', 'sans-serif';
  }
  .first-container {
    width:100vw;
    
  }
  .bottom-container{
    text-align: center;
    background-color:#f7f0cbd7;
    width:100vw;
    height: 30vh;
    margin:auto;
    bottom: 0px;
    margin-bottom:0px;
  }
  .footer-link{
    color:rgb(66, 153, 252);
    text-decoration: none;
    font-weight: 600;

  }
  #copyright{
    font-family: 'Inter';
    padding-top:20px;
    font-weight: 300;
    font-size: 1rem;
  }
  .skills{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .bottom-container-content{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:30px
  }
  .middle-container{
    background-color:#f7ffff;
    margin:auto;
  }
  .mountain {
    /* position: relative; */
    width: 75vw;
    margin: auto;
    display:block;
  }
  .cloudOne {
    display: none;
  }
  .cloudTwo {
    display:none;
  }
  
  .profiletext {
    width: 70vw;
    line-height: 1.5;
    margin: auto;
  }
  .sectionTitles{
    color:#302f2f;
    padding: 15px;
    font-family: 'Merriweather';
    font-weight: inherit;
  }
  .aprogrammer{
    font-family: 'Source Code Pro';
    text-align:center;
    top:20px;
    display:inline-block;
    line-height: normal;
    margin: 20px 0 15px 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.02em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 110% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    30% { border-color: #FF654C; }
  }

}
