.cloudOne {
  position: absolute;
  right: 300px;
  top: 50px;
}
.cloudTwo {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.mountain {
  display: inline-block;
  padding-right: 20px;
}

.first-container {
  padding-top: 40px;
  padding-left: 25%;
  padding-right: 25%;
  position: relative;
  background-color: #eaf6f6;
  text-align: center;
}

hr {
  border-top: 5px dotted #eaf6f6;
  width: 5%;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  margin: 80px auto;
}
.nameTitle {
  margin: auto;
  margin-top: 0.5em;
  width: 100%;
  font-kerning: auto;
  font-size: 3.5rem;
  color: #322f3d;
}

#subtitleStyle {
  text-decoration-line: underline;
}

.profilepicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.code {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.webdesign {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.skill-container {
}

h3 {
  font-size: 1.5rem;
  position: relative;
  color: #4f8a8b;
}
h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 2rem;
  color: #66bfbf;
  line-height: 0.8;
}
h1 {
  padding-top: 50px;
  margin-bottom: 0;
  display: block;
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  font-family: 'Leckerli One', cursive;
  color: #322f3d;
}
body {
  margin: 0em;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  text-align: center;
}
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #40514e;
}
 {
  font-family: "Open Sans";
  color: #4f8a8b;
}

.profiletext {
  width: 30%;
  margin: auto;
}
.middlecontainer {
  text-align: center;
}
.navbar{
  padding: 0.5rem 0 0.5rem 0;
}
.navbar-brand{
  margin-right: 95%;
}
.profile {
  padding-top: 30px;
}

.bottom-container {
  background-color: #fbd46d;
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: lighter;
}
a {
  color: #14b1ab;
  font-weight: 600;
}

.contact-me {
  padding: 30px auto;
  width: 35%;
  margin: auto;
  margin-bottom: 50px;
}

.footer-link {
  font-weight: 600;
}
.aprogrammer {
  font-weight: normal;
}
.skill-row {
  width: 50%;
  position: relative;
  margin: 100px auto;
  text-align: left;
  line-height: 1.5;
}

